body {
  margin: 0;
  
  background-color: #9E6DC2;
  font-family: 'DM Sans';
  text-decoration:none;
}

.home {
  width: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
}

.logo {
  font-size: 65px;
  
  background: #ffffff;
  background-image: linear-gradient(180deg, #3f5efb, #fc466b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;

  color: black;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 15px;
  padding-right: 40px;
  display: inline-colum;
}

a {
  text-decoration: none;
  color: #fc466b;
  font-size: 24px;
  font-family: bold;
}

a:hover {
  color: #9E6DC2;
}

.sublog {
  padding-top: 180px;
  margin-left: 10px;
 

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;

}

.text {
  padding-top: 0px;
  margin-left: 10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;

}

p {
  margin-left: 10px;
}

.Declara {
  margin-left: 10px;
} 

.card  {
  background-color: #ffffff;
  border-radius: 6px;
  color: #020e26;
  padding: 16px;
  width: 720px;
  overflow: hidden;
  margin-left: 10px;
  
  position: fixed;
  transition: 0.6s;
  transform: trasnlate(0);
  font-weight: 400;
}

.card:hover {
  color: #ffffff;
}

div p {
  margin: 0;
}
 

.card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  background:
    linear-gradient(
      to right, #fc466b, #fc466b
    );
  border-radius: 2%;
  width: 965px;
  height: 101px;
  transition: 0.9s;
}

.card:hover::before {
  transform: scale(4.5);
}







footer {
  margin-left: 10px;
}


/* Inside auto layout */



}

/*== .text { 
  position: absolute;

height: 162px;
left: 127.22px;
top: 170px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
/* or 150% */





/*=== RESPONSIVO =================================*/
@media only screen and (max-device-width: 900px) {
  body {width:100%;}
  }


@media (min-width: 1024px) {
  /*=== GERAL =================================*/
}

html {
  chrome://flags/#smooth-scrolling 
  scroll-behavior: smooth;
}
  

  