body {
  margin: 0;
  
  background-color: #9E6DC2;
  font-family: 'Indie Flower', cursiva; 
   /* font-family: 'DM Sans';  */
  text-decoration:none;
  
}

img {
  image-rendering: pixelated;
}

.home {
  width: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
}

.logo {
  font-size: 65px;
  
  background: #ffffff;
  background-image: linear-gradient(180deg, #3f5efb, #fc466b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;

  color: black;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 15px;
  padding-right: 40px;
  display: inline-colum;
}

a {
  text-decoration: none;
  color: #fc466b;
  font-size: 24px;
}

a:hover {
  color: #9E6DC2;
}

.sublog {
  padding-top: 180px;
  margin-left: 10px;
 

  font-family: 'Indie Flower', cursiva;
  color: #ffffff;
font-style: normal;
font-weight: 700;
font-size: 36px;

position: absolute;
 left: 50%;
   transform: translateX(-50%);

}

.texthome {
  padding-top: 0px;
  margin-left: 10px;


font-style: normal;
font-weight: 700;
font-size: 36px;

}

p {
  margin-left: -2px;
  top: -2px;
}

.Declarahome {
  font-family: 'Indie Flower', cursiva;
  /* font-family: 'Dancing Script', cursivo; */
  margin-left: 5px;
  font-weight: 600; 
  margin-top: 9.5rem;
  font-size: 1.5rem;
} 

  .text {
    
  }

.feliz {
  /* width: 350px;
  height: 30px;
  padding-top: 30px;
  margin-left: 8px;
  color: #ffffff;

   */
   color: #ffffff;
   width: 21.1rem;
 height: 0rem;
 
 margin-top: 2.4rem;
 
 
 font-size: 2.4rem;
 
 position: absolute;
 left: 50%;
   transform: translateX(-50%);
}

.cardHome {
  /* background: linear-gradient(to bottom, #fc466b 29%, #ffffff 29%);
  
  
  border-radius: 10px;
  width: 695px;
  width: 100%;
  height: 23.5rem; */
  background: linear-gradient(to bottom, #fc466b 30%, #ffffff 29%);
  position: absolute;
  
  color: #000000;
  font-size: 2rem;
   /* width: 43.6rem; */
  
  height: 30.9rem;
  /* margin-left: 0.3rem; */
  top: 28.3rem;
  
  font-family: 'Indie Flower', cursiva;
  border-radius: 0.6rem;

  width: 100%;
}




footer {
  margin-left: 10px;
  margin-left: 10px;
  color: #ffffff;
  margin-top: 57.5rem;
  position: absolute;
}


/* Inside auto layout */



}

/*== .text { 
  position: absolute;

height: 162px;
left: 127.22px;
top: 170px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
/* or 150% */





/*=== RESPONSIVO =================================*/
@media only screen and (max-device-width: 900px) {
  body {width:100%;}
  }


@media (min-width: 1024px) {
  /*=== GERAL =================================*/
}

html {
  chrome://flags/#smooth-scrolling 
  scroll-behavior: smooth;
}
  

  