body {
  margin: 0;
  background-color: #9E6DC2;
  font-family: 'DM Sans';
  text-decoration:none;
}

.navbar {
  width: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
}

.logotwu {
  font-size: 75px;
  background-image: linear-gradient(180deg, #3f5efb, #fc466b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  color: black;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 15px;
  padding-right: 40px;
  display: inline-colum;
}

a {
  text-decoration: none;
  color: #fc466b;
  font-size: 24px;
  font-family: bold;
}

a:hover {
  color: #9E6DC2;
}




p {
  margin-left: 10px;
}


 
.card  {
  background-color: #ffffff;
  position: relative;
  top: 300px;
  margin-left: 10px;
  border-radius: 6px;
  color: #020e26;
  padding: 16px;
  width: 200px;
  overflow: hidden;
  
  position: fixed;
  transition: 0.6s;
  transform: trasnlate(0);
  font-weight: 400;
}

.card:hover {
  color: #ffffff;
}

div p {
  margin: 0;
}
 

.card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  background:
    linear-gradient(
      to right, #3bd9d9, #36a6bf
    );
  border-radius: 2%;
  width: 565px;
  height: 125px;
  transition: 0.9s;
}

.card:hover::before {
  transform: scale(4.5);
}

 
/* cardtwu */

.cardtwu  {
  background-color: #ffffff;
  position: relative;
  top: 300px;
  margin-left: 260px;
  border-radius: 6px;
  color: #020e26;
  padding: 16px;
  width: 200px;
  overflow: hidden;
  
  position: fixed;
  transition: 0.6s;
  transform: trasnlate(0);
  font-weight: 400;
}

.cardtwu:hover {
  color: #ffffff;
}

div p {
  margin: 0;
}
 

.cardtwu::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  background:
    linear-gradient(
      to right, #3bd9d9, #36a6bf
    );
  border-radius: 2%;
  width: 565px;
  height: 125px;
  transition: 0.9s;
}

.cardtwu:hover::before {
  transform: scale(4.5);
}


/* cardtre */


.cardtre  {
  background-color: #ffffff;
  position: relative;
  top: 300px;
  margin-left: 510px;
  border-radius: 6px;
  color: #020e26;
  padding: 16px;
  width: 200px;
  overflow: hidden;
  
  position: fixed;
  transition: 0.6s;
  transform: trasnlate(0);
  font-weight: 400;
}

.cardtre:hover {
  color: #ffffff;
}

div p {
  margin: 0;
}
 

.cardtre::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  background:
    linear-gradient(
      to right, #3bd9d9, #36a6bf
    );
  border-radius: 2%;
  width: 565px;
  height: 125px;
  transition: 0.9s;
}

.cardtre:hover::before {
  transform: scale(4.5);
}

.text {
  padding-top: -45px;
  margin-left: 10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;

}



/*=== RESPONSIVO =================================*/
@media only screen and (max-device-width: 900px) {
  body {width:100%;}
  }


@media (min-width: 1024px) {
  /*=== GERAL =================================*/
}

html {
  chrome://flags/#smooth-scrolling 
  scroll-behavior: smooth;
}
  