body {
  margin: 0;
  background-color: #9E6DC2;
  font-family: 'Indie Flower', cursiva;
  text-decoration:none;
}

html {
  font-size: 16px;
}

.navbar {
  width: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
}

.logotwu {
  font-size: 75px;
  background-image: linear-gradient(180deg, #3f5efb, #fc466b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Indie Flower', cursiva;

  color: black;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 15px;
  padding-right: 40px;
  display: inline-colum;
}

a {
  text-decoration: none;
  font-family: 'Indie Flower', cursiva;
  color: #fc466b;
  font-size: 24px;
}

a:hover {
  color: #9E6DC2;
}




p {
  margin-left: 10px;
}


 
.text {
  color: #ffffff;
  width: 21.1rem;
height: 0rem;
padding-left: 15rem;
margin-top: 2.5rem;
word-wrap: break-word;

position: absolute;
left: 50%;
  transform: translateX(-50%);
}

.card  .par2 .par3 {
 
    
    word-wrap: break-word;

}
.card  .cardtwu .cardtre {
  width: 100%;
  
 
}

.card {
  background: linear-gradient(to bottom, #fc466b 39%, #ffffff 30%);


border-radius: 10px;
position: absolute;
top: 300px;
overflow: hidden;
padding-bottom: 50px;
/*width: 252px;*/
width: 100%;
height: 190px;
font-family: 'Indie Flower', cursiva;
}

.card:hover {
  color: #9E6DC2;
}
.par  {
  position: relative;
 margin-top: 6.5rem;
 padding-left: 0.6rem;
}

div p {
  margin: 0;
}
 

 

.cardtwu  {
  background: linear-gradient(to bottom, #fc466b 39%, #ffffff 30%);


border-radius: 10px;
position: absolute;
top: 560px;
overflow: hidden;
padding-bottom: 50px;
/*width: 252px;*/
width: 100%;
height: 190px;
}

.text2 {
  color: #ffffff;
  width: 355px;
height: 0px;
padding-left: 17rem;
margin-top: 40px;
position: absolute;
left: 50%;
  transform: translateX(-50%);
}

.par2 {
  position: relative;
 margin-top: 6.5rem;
  /* margin-top: 70px; */
  padding-left: 10px;
 }
 
.cardtwu:hover {
  color: #fc466b;
}

div p {
  margin: 0;
}
 
.cardtre  {
  background: linear-gradient(to bottom, #fc466b 39%, #ffffff 30%);


border-radius: 10px;
position: absolute;
top: 825px;
overflow: hidden;
padding-bottom: 50px;
/* width: 250px; */
width: 100%;
height: 190px;
}

.text3 {
  color: #ffffff;
  width: 355px;
height: 0px;
padding-left: 17rem;
margin-top: 40px;
position: absolute;
left: 50%;
  transform: translateX(-50%);
}

.par3 {
  position: relative;
 margin-top: 6.5rem;

  padding-left: 0.6rem;
 }
 
.cardtre:hover {
  color: #9E6DC2;
}




.text {
  padding-top: -3rem;
  /* margin-left: 2 0px; */

font-style: normal;
font-weight: 700;
font-size: 36px;

}

/* DIV SOBRE */

.trexo {
  position: absolute;
  background: #ffffff;
   width: 43.6rem; 
  
  height: 106.2rem;
  margin-left: 0.3rem;
  top: 69.3rem;
  
  border-radius: 0.6rem;
}

.def {
  position: absolute;
  background: #fc466b;
  color: #ffffff;
  width: 27.5rem;
  height: 20.5rem;
  margin-left: 10rem;
  top: 880px;
  
  border-radius: 0.6rem;
}

.quali {
  position: absolute;
  background: #9E6DC2;
  color: #ffffff;
  width: 27.5rem;
  height: 20.5rem;
  margin-left: 10rem;
  top: 1280px;
  
  border-radius: 10px;
}

.defeito{
  text-align: center;
}

.qualidades {
  text-align: center;
}

.pdef {
  font-size: 28px;
  text-align: center;
}

.perfil {
  width: 130px;
  height: 130px;
  border-radius: 12px 25px 30px 20px;
  filter: drop-shadow(2px 4px 8px #585858);
  display: inline-block;
}

.info {
  position: absolute;
  margin-left: 25px;
  padding-bottom: 10px;
  display: inline-block;
  font-size: 28px;
  color: #9E6DC2;
  font-family: 'Indie Flower', cursiva;
  /* font-family: bold; */

}

.info2 {
  position: absolute;
  margin-left: 25px;
  padding-top: 35px;
  display: inline-block;
  font-size: 1.1rem;
  color: gray;
  font-family: 'Indie Flower', cursiva;
}

span {
  color: #fc466b;
  display: inline-block;
  position: absolute;
  margin-left: 5px;
}

.span {
  margin-left: 135px;
}

.span1 {
  margin-left: 140px;
}

.span2 {
  margin-left: 203px;
  font-size: 1.1rem;
}

.span3 {
  margin-left: 434px;
  font-size: 1.1rem;
}

.span4 {
  margin-left: 70px;
  margin-top: -70px;
  font-size: 1.1rem;
}

.span5 {
  margin-left: 575px;
  margin-top: -455px;
  font-size: 1.1rem;
}

.span6 {
  margin-left: 540px;
  margin-top: -390px;
  font-size: 1.1rem;
}

.span7 {
  margin-left: 570px;
  margin-top: -320px;
  font-size: 1.1rem;
}

.span8 {
  margin-left: 572px;
  margin-top: -250px;
  font-size: 1.1rem;
}

.span9 {
  margin-left: 512px;
  margin-top: -190px;
  font-size: 1.1rem;
}

.span10 {
  margin-left: 457px;
  margin-top: -135px;
  font-size: 1.1rem;
}

em {
  position: absolute;
  margin-left: 10px;
  margin-top: -13px;
  display: inline-block;
  font-size: 48px;
}

.info3 {
  position: absolute;
  margin-left: 25px;
  padding-top: 65px;
  display: inline-block;
  font-size: 1.1rem;
  color: gray;
  font-family: 'Indie Flower', cursiva;
}

.perfil .info {
  display: inline-block;
  text-decoration: none;
}

.titu {
  text-align: center;
  padding-top: 45px;
  font-size: 26px;
  color: #9E6DC2;
 
}

strong {
  position: absolute;
  font-size: 1.1rem;
  color: gray;
  padding-left: 10px;
  display: inline-block;
}

.especi1 {
  margin-top: -70px;
  position: absolute;
  font-size: 1.1rem;
  color: gray;
 
  display: inline-block;
}

.especi {
  margin-left: 320px;
  position: absolute;
  font-size: 1.1rem;
  color: gray;
  display: inline-block;
}

.strog {
  margin-left: 500px;
  margin-top: -455px;
  position: absolute;
  font-size: 1.1rem;
  color: gray;
  
  display: inline-block;
}

.strog1 {
  margin-left: 440px;
  margin-top: -0px;
  position: absolute;
  font-size: 1.1rem;
  color: gray;
  
  display: inline-block;
}

.strog2 {
  margin-left: 490px;
  margin-top: -390px;
  position: absolute;
  font-size: 1.1rem;
  color: gray;
  
  display: inline-block;
}

.strog3 {
  margin-left: 460px;
  margin-top: -320px;
  position: absolute;
  font-size: 1.1rem;
  color: gray;
  
  display: inline-block;
}

.strog4 {
  margin-left: 330px;
  margin-top: -250px;
  position: absolute;
  font-size: 1.1rem;
  color: gray;
  
  display: inline-block;
}

.strog5 {
  margin-left: 440px;
  margin-top: -190px;
  position: absolute;
  font-size: 1.1rem;
  color: gray;
  
  display: inline-block;
}

.strog6 {
  margin-left: 355px;
  margin-top: -135px;
  position: absolute;
  font-size: 1.1rem;
  color: gray;
  
  display: inline-block;
}

.intes {
  margin-left: 190px;
  margin-top: -10px;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
}

.intes1 {
  margin-left: 250px;
  margin-top: -10px;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
}

.intesB {
  margin-left: 293px;
  margin-top: -10px;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
}

.intes2 {
  margin-left: 290px;
  margin-top: -10px;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
}

.intes3 {
  margin-left: 649px;
  margin-top: -10px;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
}

.intes4 {
  margin-left: 210px;
  margin-top: -85px;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}

.intes5 {
  margin-left: 649px;
  margin-top: -468px;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}

.intes6 {
  margin-left: 649px;
  margin-top: -400px;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}

.intes7 {
  margin-left: 649px;
  margin-top: -340px;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}

.intes8 {
  margin-left: 651px;
  margin-top: -270px;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}

.intes9 {
  margin-left: 40.6rem;
  margin-top: -13.1rem;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}

.intes10 {
  margin-left: 40.6rem;
  margin-top: -9.3rem;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}


/*=== RESPONSIVO =================================*/

@media screen and (max-width: 768px) {
  .trexo {
    min-width: 300px;
  }

@media only screen and (max-device-width: 900px) {
  body {width:100%;}
  }


@media (min-width: 1024px) {
  /*=== GERAL =================================*/
}

html {
  chrome://flags/#smooth-scrolling 
  scroll-behavior: smooth;
}
  




