body {
  margin: 0;
  background-color: #9E6DC2;
  font-family: 'Indie Flower', cursiva;
  text-decoration:none;
}

.navbar {
  width: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
}

.logotwu {
  font-size: 75px;
  background-image: linear-gradient(180deg, #3f5efb, #fc466b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Indie Flower', cursiva;

  color: black;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 15px;
  padding-right: 40px;
  display: inline-colum;
}

a {
  text-decoration: none;
  font-family: 'Indie Flower', cursiva;
  color: #fc466b;
  font-size: 24px;
}

a:hover {
  color: #9E6DC2;
}




p {
  margin-left: 10px;
}


 
.text {
  color: #ffffff;
  width: 355px;
height: 0px;
margin-left: 40px;
margin-top: 40px;
}

.card {
margin-left: 10px;
}

.card {
background: linear-gradient(to bottom, #fc466b 39%, #ffffff 30%);
margin-left: 0px;
margin-right: 10px;
border-radius: 10px;
position: absolute;
top: 300px;
overflow: hidden;
padding-bottom: 50px;
width: 252px;
height: 190px;
font-family: 'Indie Flower', cursiva;
}

.card:hover {
  color: #9E6DC2;
}
.par {
 margin-top: 20px;
}

div p {
  margin: 0;
}
 

 

.cardtwu  {
  background: linear-gradient(to bottom, #fc466b 39%, #ffffff 30%);
margin-left: 255px;
margin-right: 10px;
border-radius: 10px;
position: absolute;
top: 300px;
overflow: hidden;
padding-bottom: 50px;
width: 252px;
height: 190px;
}

.text2 {
  color: #ffffff;
  width: 355px;
height: 0px;
margin-left: 40px;
margin-top: 40px;
}

.par2 {
  margin-top: 70px;
 }
 
.cardtwu:hover {
  color: #fc466b;
}

div p {
  margin: 0;
}
 
.cardtre  {
  background: linear-gradient(to bottom, #fc466b 39%, #ffffff 30%);
margin-left: 510px;
margin-right: 10px;
border-radius: 10px;
position: absolute;
top: 300px;
overflow: hidden;
padding-bottom: 50px;
width: 250px;
height: 190px;
}

.text3 {
  color: #ffffff;
  width: 355px;
height: 0px;
margin-left: 40px;
margin-top: 40px;
}

.par3 {
  margin-top: 70px;
 }
 
.cardtre:hover {
  color: #9E6DC2;
}




.text {
  padding-top: -48px;
  margin-left: 2 0px;

font-style: normal;
font-weight: 700;
font-size: 36px;

}

/* DIV SOBRE */

.trexo {
  position: absolute;
  background: #ffffff;
  width: 750px;
  height: 929px;
  margin-left: 5px;
  top: 580px;
  
  border-radius: 10px;
}

.perfil {
  width: 130px;
  height: 130px;
  border-radius: 12px 25px 30px 20px;
  filter: drop-shadow(2px 4px 8px #585858);
  display: inline-block;
}

.info {
  position: absolute;
  margin-left: 25px;
  padding-bottom: 10px;
  display: inline-block;
  font-size: 28px;
  color: #9E6DC2;
  font-family: 'Indie Flower', cursiva;
  /* font-family: bold; */

}

.info2 {
  position: absolute;
  margin-left: 25px;
  padding-top: 35px;
  display: inline-block;
  font-size: 18px;
  color: gray;
  font-family: 'Indie Flower', cursiva;
}

span {
  color: #fc466b;
  display: inline-block;
  position: absolute;
  margin-left: 5px;
}

.span {
  margin-left: 135px;
}

.span1 {
  margin-left: 140px;
}

.span2 {
  margin-left: 203px;
  font-size: 18px;
}

.span3 {
  margin-left: 115px;
  font-size: 18px;
}

.span4 {
  margin-left: 75px;
  font-size: 18px;
}

.span5 {
  margin-left: 575px;
  margin-top: -530px;
  font-size: 18px;
}

.span6 {
  margin-left: 540px;
  margin-top: -470px;
  font-size: 18px;
}

.span7 {
  margin-left: 570px;
  margin-top: -390px;
  font-size: 18px;
}

.span8 {
  margin-left: 572px;
  margin-top: -330px;
  font-size: 18px;
}

.span9 {
  margin-left: 512px;
  margin-top: -260px;
  font-size: 18px;
}

.span10 {
  margin-left: 467px;
  margin-top: -190px;
  font-size: 18px;
}

em {
  position: absolute;
  margin-left: 10px;
  margin-top: -21px;
  display: inline-block;
  font-size: 48px;
}

.info3 {
  position: absolute;
  margin-left: 25px;
  padding-top: 65px;
  display: inline-block;
  font-size: 18px;
  color: gray;
  font-family: 'Indie Flower', cursiva;
}

.perfil .info {
  display: inline-block;
  text-decoration: none;
}

.titu {
  text-align: center;
  padding-top: 45px;
  font-size: 26px;
  color: #9E6DC2;
 
}

strong {
  position: absolute;
  font-size: 18px;
  color: gray;
  padding-left: 10px;
  display: inline-block;
}

.strog {
  margin-left: 500px;
  margin-top: -530px;
  position: absolute;
  font-size: 18px;
  color: gray;
  
  display: inline-block;
}

.strog2 {
  margin-left: 490px;
  margin-top: -470px;
  position: absolute;
  font-size: 18px;
  color: gray;
  
  display: inline-block;
}

.strog3 {
  margin-left: 460px;
  margin-top: -390px;
  position: absolute;
  font-size: 18px;
  color: gray;
  
  display: inline-block;
}

.strog4 {
  margin-left: 330px;
  margin-top: -330px;
  position: absolute;
  font-size: 18px;
  color: gray;
  
  display: inline-block;
}

.strog5 {
  margin-left: 440px;
  margin-top: -260px;
  position: absolute;
  font-size: 18px;
  color: gray;
  
  display: inline-block;
}

.strog6 {
  margin-left: 360px;
  margin-top: -190px;
  position: absolute;
  font-size: 18px;
  color: gray;
  
  display: inline-block;
}

.intes {
  margin-left: 190px;
  margin-top: -10px;
  width: 45px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
}

.intes1 {
  margin-left: 250px;
  margin-top: -10px;
  width: 45px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
}

.intes2 {
  margin-left: 290px;
  margin-top: -10px;
  width: 45px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
}

.intes3 {
  margin-left: 329px;
  margin-top: -10px;
  width: 45px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
}

.intes4 {
  margin-left: 219px;
  margin-top: -10px;
  width: 45px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
}

.intes5 {
  margin-left: 649px;
  margin-top: -540px;
  width: 45px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}

.intes6 {
  margin-left: 649px;
  margin-top: -480px;
  width: 45px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}

.intes7 {
  margin-left: 649px;
  margin-top: -400px;
  width: 45px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}

.intes8 {
  margin-left: 651px;
  margin-top: -340px;
  width: 45px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}

.intes9 {
  margin-left: 651px;
  margin-top: -270px;
  width: 45px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}

.intes10 {
  margin-left: 651px;
  margin-top: -200px;
  width: 45px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  float: left;
}


/*=== RESPONSIVO =================================*/
@media only screen and (max-device-width: 900px) {
  body {width:100%;}
  }


@media (min-width: 1024px) {
  /*=== GERAL =================================*/
}

html {
  chrome://flags/#smooth-scrolling 
  scroll-behavior: smooth;
}
  